<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" placeholder="enter username"/>
        <br>
        <br>
        <textarea placeholder="write your post" name="content"></textarea>
        <br>
        <button>Submit Post</button>
    </form>
</body>
</html>