<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port 8080</title>
</head>
<body>
    <h1>Welcome to port 8080</h1>
    <button><a href="/posts">See all posts</a></button>
</body>
</html>